.App {
  background-color: #2B2D3C;
  text-align: center;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Nav Bar */

.connectButton {
  float: right;
  margin-right: 24px;
  background-color: #1168f1;
  border-radius: 4px;
  padding: 5px 15px;
  color: #f1f1f3;
  font-size: 24px;
  cursor: pointer;
}
.connectButton:hover {
  background-color: #f90;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Market */
.marketContainer {
  background-color: #fff;
  width: 620px;

  margin: 0 auto;

  border-radius: 24px;
  padding: 8px;
}
.subContainer {
  margin-bottom: 20px;
}
.marketOption {
  display: flex;
  margin-left: 22px;
}
.optionData {
  margin-left: 10px;
  color: #fff;
  font-weight: 700;
}
.optionPercent {
  display: block;
  font-size: 24px;
  font-weight: 1000;
  color: #f90;
}
.logoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 28px;
  height: 28px;
}
.marketHeader {
  color: #1168f1;
  font-size: 32px;
  font-weight: 800;
}
.stakedTokensHeader {
  color: #fff;
}
.hoverButton:hover {
  background: #f90;
  cursor: pointer;
}
.hoverButton:active {
  /* box-shadow: 0 0 0 white; */
  box-shadow: inset;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.assetContainer {
  background-color: #1168f1;
  padding: 8px 0 10px 28px;
  width: 620px;
  min-height: 225px;
  margin: 0 auto;
  top: -25px;
  border-radius: 24px;
  margin-top: 50px; /* space between sections */
  color: #fff;
  font-weight: 500;
  position: relative;
}
.columnHeaders {
  font-weight: 800;
  color: #f90;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.stakedLogoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 18px;
  height: 18px;
}


/*////////////////////////////////////////////////////////////////////////////*/
/* Glyphs */
.glyphContainer {
  background-color: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.glyph {
  font-size: 34px;
}

/******************************************************************************/
/* Stake Modal */
.modal-class {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: -400px;
  right: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}
.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 10px 25px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
.pinkButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer
}
.orangeMiniButton {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer
}
.orangeMiniButton:hover {
  color: #fff;
  background-color: #f90;;
}